ol {
  list-style-type:none;
  padding:0;
  margin:0;
  font-size:18px;
  text-align:center;
}
ol>li:hover {
	background-color:#21262b;
}
ol>li>ul>li:hover {
	background-color:#21262b;
}
ol>li>ul{
	display:none;
	margin:0;
	padding:0;
}
ol>li:hover>ul{
	display:block;
}
ol>li>ul>li {
  list-style-type:none;
  margin:0;
  padding:0;
  padding-top:5px;
   font-size:14px;
}
ol>li>ul>li>a{
	border-top:3px solid black;
}
ol a {
  display:block;
  color:#000;
  text-decoration:none;
  padding:0 5px;
}
.naglowek{
	width:480px;
	height:105px;
}
.svg{
	width:105px;
	height:105px;
	float:left;
}
.svg2{
	padding-top:20px;
	font-size:20px;
}
.content2{
	width:480px;
}